@import "variables";

#aboutUs {
    text-align: center;

    .pages-background-image {
        background-image: url(https://img.freepik.com/free-vector/white-canvas-background_1053-239.jpg?size=338&ext=jpg);
        padding: 4em 0;
    }
    h1 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    img {
            border-radius: 8px; 
            max-width: 100%;
            height: auto;
        
    }

    article {
        
        h2 {
            font-size: 20px;
            color: $darkpurple;
            text-transform: uppercase;
            border-top: 1px solid $darkpurple;
            border-bottom: 1px solid $darkpurple;
        }

        main {
            text-align: left;
            padding: 20px 40px;
            line-height: 1.5;
        }
    }
}