@import "variables";

#aboutUs {
    text-align: center;

    .pages-background-image {
        padding: 4em 0;
        position: relative;
        //background-image: url('https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/651334/600/400/m2/fpnw/wm0/atlanta03small-.jpg?1441996098&s=583b356665fedb0f12a8701b9c7df4fe');
    }
    h1 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    img {
            border-radius: 8px; 
            max-width: 100%;
            height: auto;
        
    }

    article {
        position: absolute;
        margin-top: 2em;

        h2 {
            font-size: 20px;
            color: $darkpurple;
            text-transform: uppercase;
            border-top: 1px solid $darkpurple;
            border-bottom: 1px solid $darkpurple;
        }

        main {
            text-align: left;
            padding: 0 40px;
            line-height: 1.5;
        }
    }
}