section {
    text-align: center;
    margin-top: 1em;
    h1 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    img {
        border-radius: 8px; 
        max-width: 100%;
        height: auto;
    }

    h2 {
        font-size: 20px;
        text-transform: uppercase;
    }

    article {
        margin-top: 10%;
    }
}