@import "variables";
#contact {
    form {
        margin: 10% 10% 20% 10%;

        h3 {
            color: $darkpurple;
            font-weight: bold;
            font-size: 30px;
            padding-bottom: 25px;
            text-align: center;
        }
        label {
            color: $darkpurple;
        }
    
        input::placeholder { 
            color: $darkgrey;
        }

        .button {
            background-color: $darkpurple;
            color: $offwhite;
        }
    
    }
}