@import "variables";
#contact {
    form {
        margin: 10% 10% 20% 10%;

        h3 {
            color: $darkgrey;
            font-size: 30px;
        }
        label {
            color: $darkpurple;
        }
    
        input::placeholder { 
            color: $darkgrey;
        }
    
    }
}